[Desktop Entry]
Type=Application
Name=Установить ShevOS
Comment=Запустить графический установщик Calamares
Exec=launch-calamares
Icon=system-software-install
Terminal=false
Categories=System;
